PORT=placeholder
REACT_URL=placeholder


DB_SSL=placeholder
DB_USERNAME=placeholder
DB_PASSWORD=placeholder
DB_DATABASE_NAME=placeholder
DB_HOST=placeholder
DB_PORT=placeholder
DB_DIALECT=placeholder

OPENAI_API_KEY=placeholder